<div class="container-fluid px-sm-1 py-5 mx-auto">
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="card card-1">
                <div class="row px-3 justify-content-between">
                    <form action="webpay-plus/create">
                        <label for="buyOrder">amount: (Este valor debe ser enviado desde el servidor)</label><br>
                        <input type="text" id="amount" name="amount" value="1128"><br>
                        <label for="buyOrder">buyOrder:</label><br>
                        <input type="text" id="buyOrder" name="buyOrder" value="O-57701"><br>
                        <label for="sessionId">sessionId:</label><br>
                        <input type="text" id="sessionId" name="sessionId" value="S-31321"><br><br>
                        <input class="btn btn-primary" type="submit" value="Comprar">
                    </form> 
                    <a href="intent:#Intent;scheme=startci;package=cl.transbank.example;end">openApp1</a>
                    <a href="intent:#Intent;scheme=startci;package=app.onepay.cl;end">openApp2</a>
                    <a href="intent:#Intent;scheme=startci;package=cl.transbank.onepay;end">openAp3p</a>
                </div>
            </div>
        </div>
    </div>
</div>



