<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body class="h-full">
    <div class="flex align-center justify-center">
        <pre class="prettyprint js">
            <%= out?.result %>
        </pre>
    </div>

<div class="flex align-center justify-center">
    <div class="w-1/2 mt-20 p-5 flex-col flex rounded-lg shadow-lg">

        <div class="mt-10 mb-10">
            <div class="border-solid border-t border-gray-400 mt-8 pt-8">
                <div class="webpay-oneclick mt-4">
                    <a href="intent:#Intent;scheme=startci;package=cl.transbank.example;end">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>